.bar{
  background-color: #dd42ae;
  display: inline-flex;
  text-align: center;
  align-items: center;
}
.bar ul{
  display: inline-flex;
  margin: 5px;
  list-style: none;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
.bar ul li {
  margin: 50px;
  text-decoration: none;
  border-radius: 10000000000000000px;
}
.bar ul li a{
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bolder;
  border-radius: 100000000000000000000000000000000000000000px;
}
.active , .bar ul li :hover{
  border-radius: 3px;
  background: #b42c8c;
  border-style: solid;
  border-color: black
}
.bar ul li :hover .sub-bar{
display: block;
position: absolute;
margin-top: 15px;
margin-left: -15px;
}
.bar ul li :hover .sub-bar{
display: block;

}
.h1{
  font-weight: bolder;
  font-weight: bolder;
  color: #b42c8c;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: overline;
}
.Drinks{
 color: #b42c8c;
 
}
.h1-2{
  color: #b42c8c;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.image{
align-self: center;
align-items: center;
}
.h2{
  color: #b42c8c;
  text-align: right;
  font-size: medium;
}